[user]
	name = kiven
	email = kiven.mr@gmail.com
[core]
    editor = vim
	excludesfile = /your/home/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
    default = simple
[alias]
    st = status
    stb = status -sb
    ci = commit
    br = branch
    co = checkout
    df = diff
    # lg = log -p
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lgl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    ps = push origin HEAD
    ad = add --all
    fh = fetch
    rb = rebase
    cl = clone
    fhpr = "!f() { git fetch -fu ${1:-origin} pull/$2/head:pr/$2; }; f"
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
    required = true
